header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

h2 {
    text-align: center;
}


main h2 {
    margin-top: 50px;
}

.secteurs {
    margin-top: 40px;
    background-color: #f5f5f5;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.secteurs p {
    max-width: 350px;
    text-align: center;
}

h3 {
    color: #200a58;
    font-size: 25px;
    text-align: center;

}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.secteur:hover {
    transform: translateY(-10px);
}

.secteur p {
    text-align: center;
}

.nos-secteurs {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); 
    gap: 30px;
    max-width: 1200px; 
    margin: 50px auto;
}

.secteur {
    width: 100%; 
    border: 2px solid grey;
    border-radius: 8px;
    min-height: auto;
    background-color: #f5f5f5;
    display: block;

}

.secteur-details {
    width: 100%;
    height: 100%;
    padding: 20px; 
    box-sizing: border-box;
}


.secteur-details summary {
    display: flex;
    flex-direction: column; 
    justify-content: space-between;
    align-items: center;
    
    list-style: none;
    min-height: 150px; 
}

.secteur-details p {
    margin-top: 20px;
    text-align: center;
    padding-top: 10px;
    border-top: 1px solid #ccc;
    animation: fadeIn 0.5s ease-in-out;
    
}

.secteur-details .btn-toggle {
    display: block;
    background: linear-gradient(270deg, #5236ab 0%, #e41937 100%);
    width: 80%;
    padding: 12px 16px;
    border-radius: 6px;
    font-size: 14px;
    color: white;
    text-align: center;
    cursor: pointer;
}

.secteur-details .btn-toggle::after {
    content: "En savoir plus";
}

.secteur-details[open] .btn-toggle::after {
    content: "Réduire";
}


.secteur-details[open] .btn-toggle {
    background: #333; 
}


.pour-plus {
    margin-bottom: 30px;
}

.pour-plus a {
    display: block;
    text-decoration: none;
    background: linear-gradient(270deg, #5236ab 0%, #e41937 100%);
    width: 80%;
    padding: 12px 16px;
    border-radius: 6px;
    font-size: 14px;
    color: white;
    text-align: center;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
}

.pour-plus p {
    display: block;
    text-decoration: none;
    background: linear-gradient(270deg, #5236ab 0%, #e41937 100%);
    width: 80%;
    padding: 12px 16px;
    border-radius: 6px;
    font-size: 14px;
    color: white;
    text-align: center;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    cursor: pointer;
}

summary {
    list-style: none;
}

.secteur-details summary {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    list-style: none;
}

.secteur-details summary::-webkit-details-marker {
    display: none;
}

/* Texte du bouton */
.secteur-details .btn-toggle::after {
    content: "En savoir plus";
}

/* Quand c’est ouvert */
.secteur-details[open] .btn-toggle::after {
    content: "Réduire";
}







.carroussel {
    margin: 30px auto 30px auto; 
    width: 800px;
    max-width: 100%; 
    text-align: center;
    position: relative;
}

.carroussel input[type=radio] {
    display: none;
}

.carroussel #cartes {
    border: 1px solid #ccc;
    background: #fff;
    position: relative;
    overflow: hidden; 
    border-radius: 12px 8px 12px 8px; 
}


.all-cartes {
    width: 600%; 
    transition: margin-left 500ms ease-in-out;
    display: flex;
}

.carroussel .carte {
    width: 16.666666%; 
    padding: 40px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.carte img {
    max-width: 200px; 
    height: auto;
    margin-top: -10px;
}

.carte h3 {
    font-size: 22px;
}

#carte1:checked ~ #cartes .all-cartes { margin-left: 0; }
#carte2:checked ~ #cartes .all-cartes { margin-left: -100%; }
#carte3:checked ~ #cartes .all-cartes { margin-left: -200%; }
#carte4:checked ~ #cartes .all-cartes { margin-left: -300%; }
#carte5:checked ~ #cartes .all-cartes { margin-left: -400%; }
#carte6:checked ~ #cartes .all-cartes { margin-left: -500%; }


.carroussel #fleches {
    position: absolute;
    top: 50%; 
    width: 100%;
    transform: translateY(-50%);
    transform: translateY(-50px);; 
}

#fleches label {
    display: none;
    width: 50px;
    height: 50px;
    cursor: pointer;
    font-size: 70px;
    font-weight: bold;
    line-height: 50%;
    opacity: 0.5;
    background: none;
}

.carroussel #fleches label:hover {
    opacity: 1;
}

#carte1:checked ~ #fleches label[for="carte2"],
#carte2:checked ~ #fleches label[for="carte3"],
#carte3:checked ~ #fleches label[for="carte4"],
#carte4:checked ~ #fleches label[for="carte5"],
#carte5:checked ~ #fleches label[for="carte6"],
#carte6:checked ~ #fleches label[for="carte1"] {
    display: block;
    position: absolute;
    right: -50px
}

#carte1:checked ~ #fleches label[for="carte6"],
#carte2:checked ~ #fleches label[for="carte1"],
#carte3:checked ~ #fleches label[for="carte2"],
#carte4:checked ~ #fleches label[for="carte3"],
#carte5:checked ~ #fleches label[for="carte4"],
#carte6:checked ~ #fleches label[for="carte5"] {
    display: block;
    position: absolute;
    left: -50px;
    transform: rotate(180deg);
}

#bulles {
    margin-top: 30px;
    text-align: center;
}

#bulles label {
    display: inline-block;
    width: 14px;
    height: 14px;
    border-radius: 50%;
    background: #ccc;
    margin-right: 12px;
    cursor: pointer;
}

.carroussel #bulles label:hover {
    background: linear-gradient(270deg, #5236ab 0%, #e41937 100%);
}

#carte1:checked ~ #bulles label[for="carte1"],
#carte2:checked ~ #bulles label[for="carte2"],
#carte3:checked ~ #bulles label[for="carte3"],
#carte4:checked ~ #bulles label[for="carte4"],
#carte5:checked ~ #bulles label[for="carte5"],
#carte6:checked ~ #bulles label[for="carte6"] {
    background: #5236ab; 
    transform: scale(1.4);
}


footer {
    background: linear-gradient(270deg,#5236ab 0%,#e41937 100%);
    color: white;
    display: flex;
    justify-content: space-around;
    margin-top: 150px;
    font-size: 18px;
    padding-bottom: 50px;
    padding-top: 50px;
}

footer ul {
    list-style-type: none;
}

footer ul a{
    text-decoration: none;
    font-weight: bold;
    color: white;
}

.liens-pages {
    margin-top: auto;
    margin-bottom: auto;
    font-size: 24px;
}

footer ul li {
    margin-bottom: 20px;   
}

.infos {
    margin-right: 150px;
}

.infos dt {
    margin-top: 20px;
}

dl {
    font-weight: bold;
}

.rejoindre {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}



