body  {
    --color-radient: linear-gradient(270deg, #5236ab 0%, #e41937 100%)
}

section {
    max-width: 700px;
    margin: 40px auto;
    padding: 0 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;  
}


details p {
    margin-top: 16px;
}

summary {
    font-size: 20px;
    font-weight: bold;
    list-style: none;
    position: relative;
}

details {
    border-bottom: 2px solid; 
    border-image: linear-gradient(270deg, #5236ab 0%, #e41937 100%);
    border-image-slice: 1;
    padding: 15px;
}

details p {
    max-height: 0;       
    overflow: hidden;
    transition: max-height 0.5s, margin-top 0.5s;
    margin-top: 0;
}
details[open] p {
    max-height: 500px;       
    margin-top: 16px;
}
