form{display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(199, 199, 199);
    height: 978px;
    width: 1960px;
    justify-content: space-between;
    gap: 10px;
}

section.first{display: grid;
    grid-template-columns: auto auto;
    column-gap: 200px;
    row-gap: 20px;
}

div{display: grid;
    grid-template-columns: auto;
    padding-top: 20px;
    padding-bottom: 20px;
    scale: 1.3;
}

button{background-color: rgb(212, 228, 255);
    border-radius: 35px;
    border-color: rgb(89, 133, 255);
    color: rgb(89, 133, 255);
    width: 300px;
    height: 50px;
    font-size: larger;
}

.condition{display: block;}

i{color: red;}