form {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 978px;
    width: 1960px;
    justify-content: space-between;
    gap: 10px;
}

section.first {
    display: grid;
    grid-template-columns: auto auto;
    column-gap: 200px;
    row-gap: 20px;
}

form div {
    display: grid;
    grid-template-columns: auto;
    padding-top: 20px;
    padding-bottom: 20px;
    scale: 1.3;
}

form button {
    background-color: rgb(255, 255, 255);
    border-radius: 35px;
    border-color: rgb(177, 34, 206);
    color: rgb(177, 34, 206);
    width: 300px;
    height: 50px;
    font-size: larger;
}

form button:hover {
    background-color: rgb(255, 251, 217);
    box-shadow: 0px 5px 20px -10px black;
}

.condition {
    display: block;
    font-size: small;
}

i {
    color: red;
}

#Desc {
    width: 500px;
    height: 100px;
}