body {
  font-family: "Source Sans Pro", Arial, sans-serif;
  color: var(--color-font-text);
  margin: 0;
}

p,
ul {
  font-size: 20px;
}

:root {
  --color-big-font-text: #200a58;
  --color-background: #efefef;
  --color-font-text: #333333;
  --color-degrade: linear-gradient(270deg, #5236ab 0%, #e41937 100%);
  --color-purple: #5236ab;
  --color-red: #e41937;
}
.navigation-bar {
  display: flex;
  justify-content: space-around;
  background: linear-gradient(270deg, #5236ab 0%, #e41937 100%);
  margin: 0px;
  flex-wrap: wrap;
}

.navigation-bar a {
  text-decoration: none;
  color: #ffffff;
  padding: 1em 2em 1em 2em;
  display: block;
  font-size: 25px;
  font-weight: bold;
}

.navigation-bar a:hover {
  color: #FFF6C7;
}

.nav-pages {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style-type: none;
}

.nav-icons {
  display: flex;
  align-items: center;
  list-style-type: none;
  justify-content: space-around;
}

.nav-icons span {
  font-size: 33px;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

header img {
  width: 120px;
  margin-right: 100px;
  padding: 20px;
}

h1 {
  font-size: 60px;
  text-align: center;
  font-weight: bold;
  margin: 20px 0px 20px 60px
}

hr {
  color: #b03070;
}

.nousRejoindre {
  text-decoration: none;
  color: #200a58;
}

.nousRejoindre:hover {
  color: #633edf;
}

@media screen and (max-width: 1050px) {
  h1 {
    font-size: 40px;
    margin: 10px 0px 10px 0px;
  }

  .navigation-bar {
    display: flex;
  }

  .nav-pages {
    flex-wrap: wrap;
  }

  .nav-icons span {
    font-size: 25px;
  }

  .navigation-bar a {
    font-size: 20px;
  }

  p,
  ul {
    font-size: 15px;
  }
}

footer {
  background: linear-gradient(270deg, #5236ab 0%, #e41937 100%);
  color: white;
  display: grid;
  grid-template-columns: auto auto auto;
  justify-content: space-around;
  margin-top: 150px;
  font-size: 18px;
  padding-bottom: 50px;
  padding-top: 50px;
}

footer ul {
  list-style-type: none;
}

.liens-pages a {
  text-decoration: none;
  font-weight: bold;
  color: white;
}

.liens-pages {
  margin-top: auto;
  margin-bottom: auto;
  font-size: 24px;
  display: grid;
  grid-template-columns: auto auto;
  gap: 20px;
  color: white;
}

dl {
  font-weight: bold;
}

.rejoindre {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.rejoindre p {
  text-align: center;
}

.rejoindre h3 {
  color: #200a58;
  font-size: 25px;
  text-align: center;
}