body > section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    gap: 50px;
    align-items: center;
    justify-items: center;
}

section > div {
    font-size: 24px;
    text-align: center;
}

section > div p {
    padding-left: 50px;
    padding-right: 50px;
}
h2 {
    font-weight: bold;
    font-size: 40px;
    margin: 20px 0px 20px 60px;
}

ol {
    padding-left: 0 ;
}

body > section {
    margin-left: 60px;
    margin-right: 60px;
}

.carre {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

span {
    font-size: 80px;
}