header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
header img {
    width: 120px;
    margin-right: 100px;
    padding: 20px;
}
header h1 {
    font-weight: bold;
    font-size: 60px;
    margin: 20px 0px 20px 60px;
}

section ol li{
    display: flex;
    gap : 100px;
}
section ol li div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
}
section ol li p, h3{
    width: auto;
}

h2 {
    font-weight: bold;
    font-size: 40px;
    margin: 20px 0px 20px 0px;
}

ol {
    padding-left: 0 ;
}


img {
    padding: 0;
    margin: 20px;
}

body > section {
    margin-left: 60px;
    margin-right: 60px;
}