section {
    display: flex;
    gap: 50px;
    justify-content: space-around;
    
}
main {
    padding:20px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
}
h2 {
    font-size: 45px;
    display: grid;
    text-align: center;
}

section p {
    width: 45%;
    font-size: 30px;
    text-align: center;
    padding-top: 50px;
}


img {
    width: 45%;
}

.activite {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 50px;
    margin: 60px;
}

.activite p {
    width: auto;
    padding: 0;
}

.activite li {
    font-size: 24px;
}

.images {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(3,1fr);
}

.images img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50px;
    border: 2px solid var(--color-red) ;
    box-shadow: 0 4px 15px var(--color-purple);
}
.img1 {
    grid-column: 1 / 4;
    grid-row: 1 / 3;
}
.img2 {
    grid-column: 2 / 5;
    grid-row: 2 / 4;
}

hr {
    border-top: 2px solid;
    border-image: linear-gradient(270deg, #5236ab 0%, #e41937 100%) 1;
}
.cadrent {
    display: grid;
    grid-template-columns: auto auto auto;
    text-align: center;
}

.cadrent p {
    height: 200px;
    border: 2px solid var(--color-red);
    margin: 0;
    border-radius: 12px;
    box-shadow: 0 4px 15px var(--color-purple);
    padding: 10px
}

.cadrent p:hover {
    transform: translateY(-20px);
}


