body > section {
    margin: 0 60px;
}

h2 { 
    font-weight: bold;
    font-size: 40px;
    margin: 40px 0px 40px 0px;
}

h3 {
    margin-bottom: 0;
    font-size: 30px;
}
.histoire {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 50px;
    justify-content: center; 
    margin-bottom: 50px;
}

.histoire ul li div{
    display: flex;
    flex-wrap: wrap-reverse;
}

.histoire li div p {
    margin: 0;
    margin-left: 20px;
    font-size: 25px;
}
.histoire img {
    max-width: 100%;
    height: auto;
    padding: 0;
}

.histoire h3 {
    margin-top: 0;
    margin-right: 10px;
    margin-bottom: 0px;
}

.actu {
    margin-bottom: 50px;

}
.actu > div {
    display: flex;
    gap: 150px;
}

.actu img {
    width: 45%;
}
.fiche_actu{
    display: flex;
}

.fiche_actu ul:first-child{
    font-weight: bold;
    text-align: right;
}

.fiche_actu ul:last-child{
    margin-left: 10px;
    padding: 0;
}
.actu ul {
    list-style: none; 
    font-size: 27px;
}

.tableauP {
    display: grid;
    grid-template-columns: auto auto auto auto ;
    gap: 50px;
    justify-content: center;
}
.logo {
    width: 200px;
    margin: 20px;
    padding: 0;

}



.histoire span {
    position: relative;
    top: -2px;
}
