#T1 {
    display: flex;
    justify-content: space-around;
}

#T1>img {
    width: 125px;
    height: 59px;
    align-self: center;
}

h1 {
    font-size: 70px;
}

h1 {
    text-align: center;
}

h2 {
    border: 2px solid lightgray;
    padding: 10px;
    margin: 20px 10px 0px 10px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

p {
    text-align: justify;
    padding: 10px;
}

.pAndImg {
    margin: 0px 10px 0px 10px;
    border: 2px solid lightgray;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

ul {
    list-style-type: " - ";
}

.pAndImg>img {
    float: right;
    width: 300px;
}

